{{#extends 'base'}}
{{#block 'content'}}
    <div class="container mt-auto mb-auto login-form">
        <h3>Login</h3>
        <form method="POST">
            {{> csrfToken}}
            {{{form}}}
            <input type="submit" value="Login" class="btn btn-primary my-3">
        </form>
    </div>

{{/block}}
{{/extends}}