{{#extends 'base'}}
{{#block 'content'}}
<form method="GET">
    <h5>Order Search</h5>
    {{{form}}}
    <input type="submit" class="btn btn-primary btn-sm m-3" value="Search"/>
</form>
{{/block}}
{{/extends}}