{{#extends 'base'}}
{{#block 'content'}}
<div class="container my-4 p-3 w-25 border">
<h3>Updating: {{product.product_name}}</h3>
<form method="POST">
    {{> csrfToken}}
    {{{form}}}
    <a href="/products" class="btn btn-outline-secondary me-2">Cancel</a>
    <input type="submit" class="btn btn-outline-primary">
</form>
</div>
{{/block}}
{{/extends}}