{{#extends 'base'}}
{{#block 'content'}}
<div class="container my-4 p-3 w-50 border">
    <form method="POST">
        {{> csrfToken}}
        {{{form}}}
        {{> cloudinaryWidget}}
        <input type="submit" class="btn btn-primary btn-sm my-3" value="Add">
    </form>
</div>
{{/block}}
{{/extends}}

{{#block 'js'}}
{{> cloudinaryJs}}
{{/block}}